<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Typescript playground on ace editor</title>
    <meta name="description" content="Typescript playground on ace editor" /><meta>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/bower_components/bootswatch/flatly/bootstrap.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
    <link type="text/css" rel="stylesheet" href="stylesheets/vue.css" />

</head>
<body ng-app="demoApp">

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><b>RefScript</b></a>
            </div>
            <!--<ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>-->
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <script type="text/x-template" id="item-template">
                    <li>
                        <div
                        :class="{bold: isFolder}"
                        @click="toggle">
                        {{model.name}}
                        <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
                        </div>
                        <ul v-show="open" v-if="isFolder">
                        <item
                            class="item"
                            v-for="model in model.children"
                            :model="model">
                        </item>
                        </ul>
                    </li>
                </script>
                <div style="overflow:auto; height: 500px; position: relative; border: 1px solid grey;" >
                    <ul id="demo">
                        <item class="item" :model="treeData">
                        </item>
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div id="editor"></div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <button id="verify" type="button" class="btn btn-primary" style="width:100%; height:60px"><b>Verify</b></button>
                </div>
            </div>
        </div>
    </div>

</body>

<!--DEVEL-->
  <script type="text/javascript">
      var require = {
          // The base path for all require calls. If this is absent it is assumed to be same as the location of require.js
          baseUrl: window.location.protocol + "//" + window.location.host + window.location.pathname.split("/").slice(0, -1).join("/")+'/scripts',
          paths: {
              ace       : "./lib/ace", // path of ace relative to baseUrl
              underscore: "../bower_components/underscore/underscore-min",
              vue       : "../bower_components/vue/dist/vue"
          }
      };
  </script>
  <script type="text/javascript" src="./scripts/lib/jquery.js"></script>
  
  <script type="text/javascript" src="/bower_components/toastr/toastr.js"></script>
  <script type="text/javascript" src="/bower_components/spin.js/spin.js"></script>
  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  
  <script type="text/javascript" src="./scripts/lib/ace/mode/typescript/typescriptServices.js"></script>
  
  <script src="./scripts/app.js" type="text/javascript"></script>


  <script src="./scripts/lib/require.js" data-main="main" type="text/javascript"></script>


</html>
