<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Typescript playground on ace editor</title>
    <meta name="description" content="Typescript playground on ace editor" />
    <meta>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootswatch/flatly/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">

    <link type="text/css" rel="stylesheet" href="stylesheets/main.css"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/ace.css"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/vue.css"/>

</head>

<body>

    <!-- top navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="container">
    	<div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">RefScript</a>
    	</div>
       </div>
    </div>

    <div class="container container-fluid wrapper">
        <div class="row-fluid columns content">

            <!-- sidebar -->
            <div class="col-xs-4 col-sm-3" role="navigation">
                
                <div class="list-group" id="demo-list">
                    <a class="list-group-item active">Demo</a>
                    <a v-for="item in items" track-by="$index" href="#" class="list-group-item" v-on:click="greet($index)">
                        <div v-cloak>
                            {{ item.message }}
                        </div>
                    </a>                    
                </div>                                

                <button type="button" id="verify" class="btn btn-block padded-btn btn-primary"><b>Verify</b></button>

                <!--<script type="text/x-template" id="item-template">
                    <li>
                        <div :class="{bold: isFolder}" @click="toggle">
                            {{model.name}}
                            <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
                        </div>
                        <ul v-show="open" v-if="isFolder">
                            <item class="item" v-for="model in model.children" :model="model">
                            </item>
                        </ul>
                    </li>
                </script>
                <div style="position: relative; border: 1px solid grey;">
                    <ul id="demo">
                        <item class="item" :model="treeData">
                        </item>
                    </ul>
                </div>-->

            </div>
            <div class="class="col-lg-9 col-sm-9 col-xs-12">
                <div class="row-fluid">
                    <div class="content-area" id="editor"></div>
                </div>
            </div>
        </div>
    </div>
</body>

<!--DEVEL-->
<script type="text/javascript">
    var require = {
        // The base path for all require calls. If this is absent it is assumed to be same as the location of require.js
        baseUrl: window.location.protocol + "//" + window.location.host + window.location.pathname.split("/").slice(0, -1).join("/") + '/scripts',
        paths: {
            ace       : "./lib/ace", // path of ace relative to baseUrl
            underscore: "../bower_components/underscore/underscore-min",
            vue       : "../bower_components/vue/dist/vue",
            bootstrap : "../bower_compoenets/bootstrap/dist/js/bootstrap.js"
        }
    };
</script>
<script type="text/javascript" src="./scripts/lib/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js"></script>
<script type="text/javascript" src="http://spin.js.org/spin.min.js"></script>
<script type="text/javascript" src="./scripts/lib/ace/mode/typescript/typescriptServices.js"></script>
<script type="text/javascript" src="./scripts/lib/require.js" data-main="main" ></script>

</html>